<div class="container">
    <p>
        <img [src]="icon" class="icon">
        
      TRAVELINO <br>
       
       <img [src]="facebook"  width="30" height="30" class="fb">
       <img [src]="tw"  width="30" height="30" class="tw">
       <img [src]="wifi"  width="28" height="28" class="tw">
       <img [src]="google"  width="28" height="28" class="tw">
    </p>
    <div class="line">
        <div class="d0">
            <img [src]="home" class="home">
        </div>
        <div class="d1">ABOUT US </div>
        <div class="d2">GALLERY</div>
        <div class="d3">EVENTS</div>
        <div class="d4">BLOG</div>
        <div class="d5">CONTACT</div>
        <div class="d6"> 
            <input type="text" name="text" placeholder="search">
        </div>
    
    </div>
    <div class="Vest">
        <img [src]="hello" class="HELLO">
        <h1 class=elit> 
        VESTIBULUM ELIT </h1><br>
        <h3 class="HELLO1"> 
            STARTING FROM: $399.99
            </h3>
        
    </div>
    <div class="feature">
        <h2 class="HELLO2"> FEATURED </h2>
    </div>
    <div class="pics">
        <div class="pi">
            <img [src]="tree" class="treep"> 
            <img [src]="sea1" class="seap">
            <img [src]="house" class="house">
            <img [src]="boat" class="boat">
        </div>
    </div>
    <div class="picnic">
        <h2 class="pic1"> 
            NEWS<br>
            & EVENTS
            </h2>
            <img [src]="wine" class="wine">
            <h4> 
               Donec sit amet felits orcl. Fuscet molls lectus Duits in malts
                Not all those who wander are lost.Life is either a daring adventure or nothing at all.
                Take only memories, leave only footprints.
                </h4><br>
                <button class="but"><h3>MORE</h3></button>
    </div>
    <div class="picnic1">
        <h2 class="pic2"> 
            NEW<br>
            DESTINATIONS
            </h2>
            <img [src]="beech" class="beech">
            <h4> 
                Donec sit amet felits orcl. Fuscet molls lectus Duits in malts
                Not all those who wander are lost.Life is either a daring adventure or nothing at all.
                Take only memories, leave only footprints.
                </h4><br>
                <button class="but1"><h3>MORE</h3></button>
    </div>
    <div class="picnic2">
        <h2 class="pic3"> 
            POPULAR<br>
            TOURS
            </h2>
            <img [src]="tour" class="tour">
            <h4> 
                Donec sit amet felits orcl. Fuscet molls lectus Duits in malts
                Not all those who wander are lost.Life is either a daring adventure or nothing at all.
                Take only memories, leave only footprints.
                </h4><br>
                <button class="but2"><h3>MORE</h3></button>
    </div>
    <div class="picnic3">
        <h2 class="pic4"> 
            BOOKING<br>
            ONLINE
            </h2>
            <img [src]="ballon" class="ballon">
            <h4> 
                Donec sit amet felits orcl. Fuscet molls lectus Duits in malts
                Not all those who wander are lost.Life is either a daring adventure or nothing at all.
                Take only memories, leave only footprints.
                </h4><br>
                <button class="but3"><h3>MORE</h3></button>
    </div>
    <h1 class="hellot"> 
        HELLO THERE!<br>
        </h1>
        <h3 class="wel"> 
            WELCOME TO OUR SITE
            </h3>
            <h3 class="cli"> 
                24/7 CLIENT
                </h3>
                <h3 class="supp"> 
                    SUPPORT<br>
                    </h3>
                    <h3 class="sat"> 
                        100% SATISFACTION<br>
                        </h3>
                        <h3 class="gua"> 
                            GUARANTEE<br>
                            </h3>
    </div>
    
    
           
    
    
    